
<div class="row">
	<div class="form-group col-md-5">
	    <form #f1="ngForm" (ngSubmit)="chercherEvenement(f1.value.idEvent)">
			<div class="form-group">
				<label >N° de l'évènement : </label>
				<input type="number" ngModel name="idEvent" required>
				<button [disabled]="!f1.valid" type="submit" class="btn btn-warning">Chercher</button>
			</div>	
		</form>	
	</div>
	
</div>
<div *ngIf="mode==1">
	<div class="panel panel-primary" >
    	<div class="panel-heading titre_centrer" *ngIf="pageEvenement">liste des évènements</div>
		<div class="panel-body jumbotron">
			<table class="table table-hover" >
		  	  <thead>
				 <tr class="info centrer_gras">
			 	   <th>N°</th>
			       <th>Qualification</th>
			       <th >date</th>
			       <th >Heure</th>
			       <th>Lieu</th>
			       <th>Saisine</th>
			       <th>Enquêteur</th>
			       <th>Requerent</th>
			     </tr>
		     </thead>
		     <tbody *ngFor="let e of pageEvenement?.content;let ind=index">
			  <tr [ngClass]="{'info':(ind%2)==1}" class="td_perso">
				<td >{{e.idEvenement}}</td>
				<td>{{e.nomEvenement}}</td>
				<td>{{e.date}}</td>
				<td>{{e.heureEvenement}}</td>
				<td>{{e.lieuEvenement}}</td>
				<td>{{e.saisine}}</td>
				<td> 
                    <a (click)="onGetPersonnel(e.enqueteur.matricule)" class="curseur"> 
                        {{e.enqueteur.matricule}}
                    </a>
                </td>
				<td>N°{{e.requerent.idRequerent}} :{{e.requerent.nomPrenom}}</td>	
			  </tr>
		   </tbody>
		 </table>	
		<div class="container " >
		   <ul class="nav nav-pills">
			  <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index"><a class="clickable" (click)="gotoPage(i)">{{i+1}}</a>
			  </li>
		   </ul>
	    </div> 
    </div>
  </div>
</div>
<div *ngIf="mode==2">
	<div class="panel panel-primary" *ngIf="event" >
    <div class="panel-heading titre_centrer"> Evenement recherché</div>
	<div class="panel-body jumbotron">
		<table class="table table-hover" >
			<thead>
			  <tr class="info centrer_gras">
			 	   <th  >N°</th>
			       <th>Qualification</th>
			       <th >date</th>
			       <th >Heure</th>
			       <th>Lieu</th>
			       <th>Saisine</th>
			       <th>Enquêteur</th>
			       <th>Requerent</th>
			     </tr>
			</thead>
			<tbody>
				<tr class="td_perso">
					<td >{{event.idEvenement}}</td>
					<td>{{event.nomEvenement}}</td>
					<td>{{event.date}}</td>
					<td>{{event.heureEvenement}}</td>
					<td>{{event.lieuEvenement}}</td>
					<td>{{event.saisine}}</td>
					<td> 
                        <a (click)="onGetPersonnel(event.enqueteur.matricule)" class="curseur">
                            {{event.enqueteur.matricule}}
                        </a>
                    </td>
					<td>N°{{event.requerent.idRequerent}} :{{event.requerent.nomPrenom}}</td>	
				</tr>
			</tbody>
        </table>
        <div class="col-md-2" *ngIf="mode!=1">
            <button class="btn btn-primary" (click)="onRetour()">retour à la liste des évènements</button>	
        </div>	
	</div>
</div>
	
</div>

