
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span >
          <img src="assets/image_mcip/logopolice.png" class="profile-img-card" height="40" width="50">
      </span>
        
        
      </a>
    </div>
    <ul class="nav navbar-nav" >

      <li><a [routerLink]="['/home']">Acceuil</a></li>

      <li class="dropdown"  >
        <a class="dropdown-toggle " data-toggle="dropdown" href="#">Mentions main-courante
        <span class="caret"></span></a>
        <ul class="dropdown-menu clickable">
          <li><a (click)="onGetMentions()">Liste des mentions</a></li>
          <li ><a (click)="onAjouterMention()">Ajouter une mention</a></li>
        </ul>
      </li>

      <li class="dropdown " >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Suspects
        <span class="caret"></span></a>
        <ul class="dropdown-menu info"> 
          <li ><a [routerLink]="['/suspects']" class="clickable "> Tous les suspects</a></li>
          <li ><a [routerLink]="['/suspects-gav']" class="clickable">Suspects gardés à vue</a></li>
          <li ><a [routerLink]="['/suspects-def']" class="clickable">Suspects déférés</a></li>
          <li ><a [routerLink]="['/suspects-recher']" class="clickable">Suspects recherchés</a></li>
          <li ><a [routerLink]="['/suspects-libre']" class="clickable">Suspects relaxés</a></li>
          <li ><a [routerLink]="['/new-suspect']" class="clickable">Ajouter suspect</a></li>
        </ul>
      </li>
      <li class="dropdown" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personnels
        <span class="caret"></span></a>
        <ul class="dropdown-menu"> 
          <li ><a [routerLink]="['/personnels']" class="clickable">Liste de tout le personnel</a></li>
          <li ><a [routerLink]="['/personnels-opera']" class="clickable">Liste du personnel opérationnel</a></li>
          <li ><a [routerLink]="['/personnels-malad']" class="clickable">Liste du personnel malade</a></li>
          <li ><a [routerLink]="['/personnels-permis']" class="clickable">Liste du personnel permissionnaire</a></li>
          <li ><a [routerLink]="['/personnels-cong']" class="clickable">Liste du personnel en congé</a></li>
          <li ><a [routerLink]="['/personnels-affect']" class="clickable">Liste du personnel affecté</a></li>
          <li ><a [routerLink]="['/new-personnel']" class="clickable">Nouveau personnel</a></li> 
        </ul>
      </li>
      <li class="dropdown" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENEMENTS
        <span class="caret"></span></a>
        <ul class="dropdown-menu"> 
          <li ><a [routerLink]="['/evenements']" class="clickable">Liste de tous les evènements</a></li>
          <li ><a [routerLink]="['/new-evenement']" class="clickable">Nouvel évènement</a></li> 
        </ul>
      </li>
      <li><a [routerLink]="['/users']">Utilisateurs</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-right" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container ">
    <router-outlet>
      
    </router-outlet>
</div>
<div>
  <app-footer></app-footer>
</div>

