.titre_centrer{
    font-size: 20px;
    text-align: center;
}
.centrer_gras{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.gras{
    font-weight: bold;  
}
.td_perso{
    font-size: 15px;
    text-align: center;
} 