.body{
    background-image:url(../../assets/image_mcip/logopolice.png);
    margin:0;
    color:black;
    background-color:white;
    background-repeat:no-repeat;
    }
.titre{
    text-align: center;
    
}