<div class="container jumbotron">
    <div class="row">
        <div class="col col-md-2">
            <span >
                <img src="assets/image_mcip/logopolice.png" 
                class="profile-img-card" width="175">
            </span>
        </div>
        <div class="col col-md-8">
            <h1 class="titre">Main Courante Informatisée de la Police Camerounaise</h1>
        </div>
        <div class="col col-md-2">
            <span >
                <img src="assets/image_mcip/logocamer.png" 
                class="profile-img-card" width="195">
            </span>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        
    </div>

</div>
